<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>


        <add id="Mbf_Pincodenurams::main_menu" title="Banners"
            module="Mbf_Pincodenurams" sortOrder="20" parent="Mbf_PriceManager::main_menu"
            resource="Mbf_Pincodenurams::pincodenurams" />

        <add id="Mbf_Pincodenurams::add_pincodenurams" title="Add banner Item"
            module="Mbf_Pincodenurams" sortOrder="1" parent="Mbf_Pincodenurams::main_menu"
            action="pincodenurams/pincodenurams/new" resource="Mbf_Pincodenurams::manage_pincodenurams" />

        <add id="Mbf_Pincodenurams::manage_pincodenurams" title="Manage banner Items"
            module="Mbf_Pincodenurams" sortOrder="2" parent="Mbf_Pincodenurams::main_menu"
            action="pincodenurams/pincodenurams/index" resource="Mbf_Pincodenurams::manage_pincodenurams" />
        
    </menu>
</config>